$color-black: #000;
$color-black-35: rgba(0, 0, 0, 0.35);
$color-gray: #f3f3f3;
$color-white: #fff;
$color-green: rgb(128, 123, 58);
$color-yellow: rgb(240, 194, 45);

$bp-small: 0;
$bp-medium: 576px;
$bp-large: 1100px;