.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* my css */
body {
  background-color: rgb(235, 233, 213);
}

ul {
  list-style-type: none;
}

.container {
  width: 100%;
}

form {
  display: inline-block;
  padding: 0;
  margin-top: 20em;
}

.formContainer {
  width: 100%;
  height: 40em;
  display: flex;
  justify-content: center;
  background-image: url('https://images.unsplash.com/photo-1504674900247-0877df9cc836?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80');
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: center;
}

.formContainer span {
  background-color: white;
  color: grey;
  border: 2px white solid;
  padding: .9em .1em .85em;
  vertical-align: middle;
}

input {
  width: 20em;
  padding: 1.6em;
  outline: none;
  border: 1px white solid;
}

button {
  border: 1px red solid;
  background-color: red;
  padding: 1.15em;
  vertical-align: middle;
}

button svg {
  fill: white;
  font-weight: bold;
  vertical-align: middle;
}

.topRated {
  margin-bottom: 2em;
}

.topRated h2 {
  text-align: center;
}

.topRated ul  {
  width: 70%;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
}

.topRated ul li {
  width: 10em;
  height: 10em;
  border: 1px black solid;
}

.restaurantList {
  width: 40%;
  margin: 4em auto 3em;
  border-bottom: 1px grey solid;
}

.restaurantCard {
  width: 100%;
  height: 15em;
  border-top: 1px grey solid;
  margin-bottom: 4em;
}

.restaurantImg {
  height: 100%;
  width: 15em;
  float: left;
  margin-right: 2em;
  margin-top: 1.5em;
  background-color: rgb(240, 194, 45);
}

.restaurantImg img {
  vertical-align: middle;
  max-width: 100%;
  max-height: 100%;
}

.helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.restaurantCard .info {
  margin-top: 0;
  padding-left: 2em;
}

.restaurantCard .info p {
  font-weight: bolder;
  margin: .5em;
}

.restaurantCard h3 {
  margin-top: 1em;
  color: rgb(128, 123, 58);
  margin-bottom: 0;
  padding: 0;
}

footer {
  height: 3em;
  width: 100%;
  background-color: rgb(163, 189, 139);
}

